
html{
    font-family: 'Outfit', sans-serif;
}
body {
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
}
.main {
    width: 250px;
    height: 450px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.img {
    width: 100%;
    border-radius: 10px;
}

.title{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.call-to-action{
    color:hsl(220, 15%, 55%);
    font-size: 16px;
    text-align: center;
}